<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Single</h1>

  <div>
    <p><%= id %></p>
    <p>Main: <%= meal.main %></p>
    <p>Side: <%= meal.side %></p>
    <p>Drink: <%= meal.drink %></p>
  </div>



  <form action="/menu/edit/<%= id %>" method="POST">
    <label for="">Main:</label>
    <input type="text" name="main">
    <label for="">Side:</label>
    <input type="text" name="side">
    <label for="">Drink:</label>
    <input type="text" name="drink">
    <button>Edit</button>
  </form>
</body>
</html>