<h1>Your menu item is -</h1>
<!-- Is logic -->
<% const myName = 'Alvin' %>
<!-- Is displaying data -->
<!-- Think of this as how console.log reads the data -->
<!-- console.log(2 + 2) -->
<!-- <%= 2 + 2 %>  -->
<% for(let i = 0; i < 10; i++) { %>

<p><%= i %></p>
<% } %>
<div>
  <!-- <% for(let items in database) {%>
  <p><%= database[items] %></p>
  <%}%> -->

  <p><%= username %></p>
  <p><%= items.a %></p>
  <div>
    <% for(let item of arr) { %>
    <p><%= item %></p>
    <% } %>
  </div>
</div>
